<%= link_to('Back to List', eight_puzzles_path, class: 'back-link') %>
<div>
    <h2>Show Eight Puzzle</h2>

    <div class="actions">
        <%= link_to('Edit', edit_eight_puzzle_path(1)) %>
    </div>

    <table summary="Eight Puzzle Instance">

    </table>
</div>

<!-- Let's continue this in another session
TODO : SHOW method -->